.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#Title {
  text-align: center;
}

#word {
  width: 150px;
  height: 30px;
}

.word_entry {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.button_center {
  margin-top: 15px;
  margin-right: 50px;
}

.delete_button {
  margin-bottom: 30px;
  text-align: end;
}

.wordSearchLabel {
  text-align: center;
  opacity: .5;
  width: 400px;
  margin: auto;
}

.DisplayInfo {
  text-align: center;
}

.DisplayButtons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
}

#word_data_output {
  width: 90%;
  display: block;
  margin: auto;
}

.searchFieldDescription {
  text-align: center;

}